/*ALL MEDIA SCREENS*/


/* GENERAL STYLES */

.wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
}

.copyright-text {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin-left: 0px !important;
}

.menu_footer {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 16px;
    line-height: 28px;
}

footer p {
    font-size: 16px;
}

a:hover {
    color: #9fc613 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Tahoma, Verdana, Arial, sans-serif;
    font-weight: bold;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    letter-spacing: 1.5px;
    border-radius: 3px;
}

section.page-content::after {
    content: "___________________________________________";
    color: #9fc613;
    font-weight: 800;
    position: absolute;
    margin: -30px auto 0 auto;
    text-align: center;
    width: 100%;
}


/* NAVIGATION */

#green_bar {
    background-color: #9fc613;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 20px;
    padding-top: 16px;
}

.top-bar {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../images/subtle_grunge.png');
    background-color: #000;
}

.top-bar-right {
    position: relative;
    top: 25px;
    right: 11%;
}

.top-bar ul {
    background: none;
}

.top-bar a:hover {
    color: #9fc613;
}

.menu .active > a {
    color: #9fc613;
    font-weight: bold;
    background: none !important;
}

.top-bar-left {
    position: relative;
    left: 8%;
}

.social_color {
    opacity: 0.6;
    color: #fff;
}

#social_top li {
    display: inline;
}

#social_top a,
#social_top a:hover {
    color: #fff;
    padding-right: 5px;
}

#social_top a:hover {
    opacity: 0.5;
}

p.topbar-p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
}

p.topbar-p-lower {
    font-size: 1.5rem;
}

ul.is-dropdown-submenu {
    background-image: url('../images/subtle_grunge.png');
    background-color: #fff;
    z-index: 9999;
}


/* FEATURED IMAGE */

img.wp-post-image {
    width: 100%;
}


/* HERO GALLERY */

div.orbit {}

a.hero-button {
    width: 221px;
    height: 43px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    margin-left: -110.5px;
    padding-top: 0px;
    margin-top: -24.5px;
    top: 70%;
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.6);
}

h1.hero-h1 {
    position: absolute;
    z-index: 9999;
    width: 100%;
    text-align: center;
    color: white;
    top: 30%;
    text-shadow: 3px 3px 3px rgba(1, 1, 1, 0.6);
}

h1.hero-h1-smaller {
    font-size: 2rem !important;
}

h1.hero-h1-bigger {
    font-size: 5.25rem !important;
}

h1.hero-h2 {
    font-size: 2rem;
    position: absolute;
    z-index: 9999;
    width: 100% !important;
    text-align: center;
    color: white;
    top: 50%;
    text-shadow: 3px 3px 3px rgba(1, 1, 1, 0.6);
    max-width: initial !important;
}

.cd-hero-slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider li:first-of-type {
    background-color: #2c343b;
    background-image: url('../images/slide-1.jpg') !important;
    background-repeat: no-repeat;
    background-position-y: 0;
}

.cd-hero-slider li:nth-of-type(2) {
    background-color: #3d4952;
    background-image: url('../images/slide-2.jpg') !important;
    background-repeat: no-repeat;
    background-position-y: 0;
}

.cd-hero-slider li:nth-of-type(3) {
    background-color: #586775;
    background-image: none !important;
    background-repeat: no-repeat;
    background-position-y: 0;
}

.cd-hero-slider li:nth-of-type(4) {
    background-color: #2c343b;
    background-image: url('../images/slide-4.jpg') !important;
    background-repeat: no-repeat;
    background-position-y: 0;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 0 !important;
    }
}

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 0 !important;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

div.hero-video-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 999;
}


/* ARE YOU A */

section.are-you-a {
    margin-top: -16px;
}

h2.are-you-a-h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #000;
}

a.are-you-a-button {
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out, color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    background-color: #fff;
    color: #fefefe;
}

a.are-you-a-dropdown-button {
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out, color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .85em 1em;
    margin: 0 0 0;
    font-size: .9rem;
    background-color: #fff;
    color: #fefefe;
}

a.are-you-a-button:hover,
a.are-you-a-dropdown-button:hover {
    background-color: #fff !important;
    color: #9fc613 !important;
}

a.are-you-a-button:focus,
a.are-you-a-dropdown-button:focus {
    background-color: #fff !important;
    color: #9fc613 !important;
}

a.are-you-a-button > h2:hover {
    background-color: #fff !important;
    color: #9fc613 !important;
}


/*HOW IT WORKS*/

section.howItWorks {
    padding: 0 0 0px 0;
}

section.howItWorks h2,
h3 {
    text-align: center;
}

section.howItWorks h2 {
    margin-bottom: 0;
}

div.divider-after::after {
    content: url('../images/slide-divider.png');
    position: absolute;
    z-index: 9999;
    width: 8px;
    height: 267px;
    top: 0;
}

h2.howItWorks-h2,
p.howItWorks-p {
    color: #000;
    text-align: center;
}

p.howItWorks-p {
    font-size: .95rem;
}

button.howItWorks-arrows {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    z-index: 500;
}

button.arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17.5px;
}

button.arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17.5px;
}


/*MEET THE TEAM*/

section.meet-the-team {
    padding: 20px 0px;
}

section.meet-the-team h2,
h3 {
    text-align: center;
}

section.meet-the-team h2 {
    margin-bottom: 50px;
}

div.divider-after::after {
    content: url('../images/slide-divider.png');
    position: absolute;
    z-index: 9999;
    width: 8px;
    height: 267px;
    top: 0;
}

h2.meet-the-team-h2,
p.meet-the-team-p {
    color: #000;
    text-align: center;
}

p.meet-the-team-p {
    font-size: .95rem;
}

button.meet-the-team-arrows {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    z-index: 500;
}

button.meet-the-team-arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17.5px;
}

button.meet-the-team-arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17.5px;
}

h2.meet-the-team-h2 {
    text-align: center !important;
}

h2.meet-the-team-h2::after {
    /*     content: url('../images/highlight-rule.jpg');
    position: absolute;
    left: 50%;
    margin-left: -33px;
    margin-top: 30px;
 */
}

h3.meet-the-team-h3 {
    margin-bottom: 0;
}


/*GEAR*/

section.gear {
    padding: 40px 0px;
}

section.gear h2,
h3 {
    text-align: center;
}

section.gear h2 {
    margin-bottom: 50px;
}

div.divider-after::after {
    content: url('../images/slide-divider.png');
    position: absolute;
    z-index: 9999;
    width: 8px;
    height: 267px;
    top: 0;
}

h2.gear-h2,
p.gear-p {
    color: #000;
    text-align: center;
}

p.gear-p {
    font-size: .95rem;
}

button.gear-arrows {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    z-index: 500;
}

button.gear-arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17.5px;
}

button.gear-arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17.5px;
}

h2.gear-h2 {
    text-align: center !important;
}

h2.gear-h2::after {
    content: url('../images/highlight-rule.jpg');
    position: absolute;
    left: 50%;
    margin-left: -33px;
    margin-top: 30px;
}

h3.gear-h3 {
    margin-bottom: 0;
}


/* FRONTPAGE FOCUS */

#highlights {
    background-size: cover;
    background-repeat: none;
    background-image: url('../images/surface_dirt.jpg');
    background-color: #fff;
    padding: 50px 0 50px 0;
}

#frontmenu {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#frontmenu {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

#frontmenu a:hover {
    color: #9fc613;
    transition: 0.15s ease;
}

#frontmenu li {
    display: inline-block;
    padding-right: 20px;
}

.number-amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.green_right_border {
    border-right: 1px solid #9fc613;
}

.howitworks p {
    font-size: 14px;
}


/*HIGHLIGHTS SECTION*/

div.rough-edge-bottom {
    width: 100%;
    height: 26px;
    background-image: url('../images/rough-edge-bottom.png');
    background-repeat: repeat-x;
    position: absolute;
    margin-top: 25px;
    left: 0;
}

div.rough-edge-top {
    width: 100%;
    height: 26px;
    background-image: url('../images/rough-edge-top.png');
    background-repeat: repeat-x;
    position: absolute;
    margin-top: -2px;
    left: 0;
}

div.callout-base {
    background-size: cover;
    width: 100%;
    max-width: 372px;
    height: 231px !important;
    margin-bottom: 0 !important;
}

#callout-1 {
    background-image: url(../images/callout-1.jpg);
}

#callout-2 {
    background-image: url(../images/callout-2.jpg);
}

#callout-3 {
    background-image: url(../images/callout-3.jpg);
    /* WIDTH: 100% !IMPORTANT; */
    height: 231px !important;
}

div.highlight-blurb {
    height: 231px;
    background: white;
}

div.callout {
    margin: 0 0 1rem;
    padding: 1rem 1rem 4rem;
    border: none;
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: #fff;
}

div.highlights-wrap {
    padding: 0 10%;
}

li.highlights-li {
    float: left;
    max-width: 390px;
    width: 100%;
}

div.panel-no-bg {
    background: none;
}

h2.hl-h2 {
    text-align: center !important;
}

h2.hl-h2::after {
    content: url('../images/highlight-rule.jpg');
    position: absolute;
    left: 50%;
    margin-left: -33px;
    top: 33px;
}

p.hl-p {
    text-align: center;
}

a.hl-button {
    position: absolute;
    width: 100px;
    height: 40px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    padding: 10px 0;
    left: 50%;
    margin-left: -50px;
    background-color: white;
    color: black;
    border: 2px solid #9fc613;
}


/*PRESS*/

div.press-wrap {
    padding: 50px 0;
}

li.press-list {
    padding-bottom: 50px;
}

section.press {
    padding: 50px 5%;
}


/*EMAIL CAPTURE*/

section.email-cap {
    background-image: url(../images/email-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px 0;
}

h2.email-h2,
h3.email-h3 {
    color: white;
}

h3.email-h3 {
    color: white;
    font-size: 1.5375rem;
}


/* ENTRY CONTENT */

.entry-content h1 {
    font-family: 'Amatic SC', cursive;
}

.entry-content hr {
    width: 120px;
    border: 1px solid #9fc613;
}


/* BLOG */

.excerpt_style {
    max-width: 485px;
    border-radius: 3px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#blog_posts {
    padding-top: 50px;
    padding-bottom: 30px;
}

.title_blog {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.date_blog {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.blog_post_style {
    padding-top: 28px;
}

.excerpt_move {
    position: relative;
    left: -3%;
    margin: 0 auto;
}


/* PAGE HEADERS & FEATURED IMAGE */

.child {
    position: absolute;
    display: table;
    margin-top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1)
}


/* LANDFILL COUNTER */

.landfill {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
}

#landfill_numbers {
    padding-top: 30px;
    padding-bottom: 20px;
}


/* CTA */

#cta h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #fff;
}

#cta p {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

#cta {
    background-image: url('../images/cta_bg_img.jpg');
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 20px;
}


/* FOOTER */

footer {
    background-image: url('../images/subtle_grunge.png');
    background-color: #fff;
}

#above_copyright {
    padding-top: 50px;
    padding-bottom: 40px;
}

#above_copyright h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}


/* MEDIA QUERIES */

@media (max-width:768px) {
    #cta h2 {
        font-size: 30px;
    }
}

@media (max-width:635px) {
    .top-bar-right {
        position: relative;
        top: 0px;
        right: 0px;
        text-align: center;
    }
}

<<<<<<< HEAD .column,
.columns {
    padding-left: 0px;
    padding-right: 0px;
}

.content_padding {
    padding-top: 20px;
    padding-bottom: 15px;
}

.left_side_highlight {
    background-color: #fff;
    border-radius: 2px;
    max-width: 450px;
    height: 250px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.right_side_highlight {
    background-color: #fff;
    border-radius: 2px;
    max-width: 450px;
    height: 525px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.featured-image-header {
    position: relative;
}

.featured-image-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.featured-image-header img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.front-menu-right-padding {
    border-right: 1px solid #000;
    padding-right: 10px;
}

.entry-content_archive p {
    width: 500px;
    text-align: center;
    font-size: 14px;
}

.test_archive {
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
}

.read_more {
    padding: 10px 10px 5px;
}

.read_more:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 10px 5px;
    transition: 360ms ease-in-out;
    border-radius: 3px;
    color: #fff;
    background-color: yellowgreen;
}

#green_bar p {
    font-size: 24px;
}

@media(max-width:768px) {
    .sml_fix {
        font-size: 40px;
    }
}

=======@media (max-width:412px) {}

.column,
.columns {
    padding-left: 0px;
    padding-right: 0px;
}

.content_padding {
    padding-top: 20px;
    padding-bottom: 15px;
}

.left_side_highlight {
    border-radius: 2px;
    max-width: 450px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.right_side_highlight {
    background-color: #fff;
    border-radius: 2px;
    max-width: 450px;
    height: 525px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.featured-image-header {
    position: relative;
}

.featured-image-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.front-menu-right-padding {
    border-right: 1px solid #000;
    padding-right: 10px;
}


/* SMALL ONLY */

@media screen and (max-width: 39.9375em) {
    h1.hero-h1-bigger {
        font-size: 3.25rem !important;
    }
    div.callout-base {
        background-size: cover;
        width: 100%;
        max-width: 500px;
        height: 231px;
    }
    div.divider-after::after {
        content: none;
    }
    a.hero-button {
        width: 120px;
        height: 30px;
        position: absolute;
        z-index: 9999;
        left: 50%;
        margin-left: -60px;
        padding-top: 0px;
        margin-top: -5px;
        top: 75%;
    }
    h1.hero-h1 {
        position: absolute;
        z-index: 9999;
        width: 100%;
        text-align: center;
        color: white;
        top: 30%;
    }
    .top-bar {
        font-family: 'Amatic SC', cursive;
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url(../images/subtle_grunge.png);
        background-color: #000;
    }
    div.highlight-blurb {
        height: 231px;
        background: white;
        padding: 0 30px;
    }
    h1.hero-h1 {
        font-size: 2.5rem;
    }
    /* ARE YOU A */
    div.dropdown-pane {
        width: 100%;
    }
    h2.are-you-a-h2 {
        font-size: 1.5rem;
    }
}


/* MEDIUM AND UP */

@media screen and (min-width: 40em) {}


/* MEDIUM ONLY */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    p.topbar-p {
        text-align: center;
        font-size: 2.1rem;
        margin-bottom: 0;
    }
    p.topbar-p-lower {
        font-size: 1.7rem;
    }
    .top-bar {
        padding-top: 0;
        padding-bottom: 0;
    }
    div.top-bar-left {
        width: 20% !important;
    }
    .top-bar-right {
        position: relative;
        top: 10%;
        right: 11%;
    }
    h1.hero-h1 {
        font-size: 4.5rem;
    }
    /* ARE YOU A */
    div.dropdown-pane {
        width: 100%;
    }
    .cd-hero-slider .cd-bg-video-wrapper {
        display: block !important;
    }
}


/* LARGE AND UP */

@media screen and (min-width: 64em) {
    p.topbar-p {
        text-align: center;
        font-size: 2.1rem;
        margin-bottom: 0;
    }
    p.topbar-p-lower {
        font-size: 2rem;
    }
    .top-bar {
        font-size: 44px;
    }
    h1.hero-h1 {
        font-size: 5rem;
    }
    h1.hero-h1-bigger {
        font-size: 6.15rem !important;
    }
}


/* LARGE ONLY */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
